<div class="tim-title">
    <div class="separator"></div>
    <h2 *ngIf="!category_id" class="text-center">Todos</h2>
    <h2 *ngIf="category_id" class="text-center">{{category.name}}</h2>
    <div class="separator"></div>
    <div class="row">
    	<div class="col-12">
    		<div class="profile-content section-white">
		        <div class="container-fluid">
	    			<div class="row">
	    				<div class="col-12">
	    					<div class="row">
	    						<div class="col-8">
	    							<label class="form-check-label"><h6>Ordernar por </h6></label>
	    							<button (click)="change_order('price')" type="button" class="btn btn-outline-danger btn-round">Precio</button>
	    							<button (click)="change_order('available')" type="button" class="btn btn-outline-danger btn-round">Disponibilidad</button>
	    							<button (click)="change_order('quantity')" type="button" class="btn btn-outline-danger btn-round">Cantidad</button>
	    						</div>
	    						<div class="col-4">
				    				<form *ngIf="is_last_category() || !category_id" class="form-inline ml-auto">
								        <input [(ngModel)]="dataForm" [ngModelOptions]="{standalone: true}" class="form-control mr-sm-2 no-border color-search" type="text" placeholder="Buscar">
								        <button (click)="search()" type="submit" class="btn btn-danger btn-just-icon btn-round"><i class="nc-icon nc-zoom-split" aria-hidden="true"></i></button>
								    </form>
								</div>
								<div class="separator"></div>
	    						<div class="col-3 space-top">
	    							<label class="form-check-label"><h6>Disponibles</h6></label>
								    <bSwitch
								        [switch-on-color]="'danger'"
								        [switch-off-color]="'danger'"
								        [(ngModel)]="p_available">
								    </bSwitch>
								</div>
								<div class="col-3">
	    							<label class="form-check-label"><h6>Rango de precio</h6></label>
	    							<nouislider class="slider slider-danger" [connect]="true" [min]="0" [max]="25" [step]="1" [(ngModel)]="p_range" [tooltips]="true"></nouislider>
	    						</div>
								<div class="col-3">
	    							<label class="form-check-label"><h6>Cantidad en stock</h6></label>
	    							<nouislider class="slider slider-danger" [connect]="true" [min]="0" [max]="1200" [step]="10" [(ngModel)]="doubleSlider" [tooltips]="true"></nouislider>
	    						</div>
	    					</div>
    						<div class="separator"></div>
							<div  class="row" *ngIf="category_id">
			    				<div class="col-3" *ngFor="let product of products | availableFilter : p_available | sublevelFilter : category_id : text | sortBy : order_by | quantityFilter : doubleSlider | priceRangeFilter : p_range; let i = index">
			    					<!-- PRODUCT IMAGE -->
									<img class="img-thumbnail" src="assets/img/image_placeholder.jpg">
									<br>
									<div class="row">
										<!-- PRODUCT NAME -->
										<div class="col-6 product-text">
											<h6>{{product.name}}</h6>
										</div>
										<!-- PRODUCT PRICE -->
										<div class="col-6 product-text">
											{{product.price}}
										</div>
										<!-- Button add to the shopping car -->
										<div class="col-12">
											<app-add-product [item]="product"></app-add-product>
										</div>
									</div>
			    				</div>
							</div>
							<div  class="row" *ngIf="!category_id">
			    				<div class="col-3" *ngFor="let product of products | availableFilter : p_available | sublevelFilter : 0 : text | sortBy : order_by | quantityFilter : doubleSlider | priceRangeFilter : p_range; let i = index">
			    					<!-- PRODUCT IMAGE -->
									<img class="img-thumbnail" src="assets/img/image_placeholder.jpg">
									<br>
									<div class="row">
										<!-- PRODUCT NAME -->
										<div class="col-6 product-text">
											<h6>{{product.name}}</h6>
										</div>
										<!-- PRODUCT PRICE -->
										<div class="col-6 product-text">
											{{product.price}}
										</div>
										<!-- Button add to the shopping car -->
										<div class="col-12">
											<app-add-product [item]="product"></app-add-product>
										</div>
									</div>
									<br>
			    				</div>
							</div>
						</div>
						<!--<div class="separator"></div>
						<div class="col-12">
							<ngb-pagination class="d-flex justify-content-center" [collectionSize]="products.length" [(page)]="page" [maxSize]="5" [pageSize]="12" aria-label="Default pagination" class="pagination-danger"></ngb-pagination>
						</div>-->
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>