@import 'src/assets/sass/paper-kit/_variables.scss';

// BUTTON ADD PRODUCT
.add {
	margin: 0 auto;
    display: block;
    text-transform: none !important;
    font-size: 21px;
}

// TEXT NUMBER QUANTITY PRODUCT
.quantity {
	justify-content: center;
	font-size: 26px;
	align-items: center;
    display: flex;
}

// ARROW INCREASE PRODUCT
.arrow-up {
	text-align: left;
	font-size: 38px;
	color: $danger-color;
	padding-left: 0px;
	cursor:pointer;
}

// ARROW DECREASE PRODUCT
.arrow-down {
	text-align: right;
	font-size: 38px;
	color: $danger-color;
	padding-right: 10px;
	cursor:pointer;
}