<!-- Button add to the shopping car -->
<div class="row" *ngIf="find_product_in_basket(item).item_quantity == 0">
	<div class="col-12 text-center">
		<button (click)="add_product_to_basket(item)" type="button" class="btn btn-danger btn-round text-center">Agregar</button>
	</div>
</div>
<!-- SHOW QUANTITY, MINUS AND PLUS BUTTONS -->
<div class="row" *ngIf="find_product_in_basket(item).item_quantity > 0">
    <div class="col arrow-down" (click)="removeItem_in_basket(item)">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>  
    <div class="col-3 quantity">
        {{ show_item_quantity(item).item_quantity }}
    </div>
    <div class="col arrow-up" (click)="add_product_to_basket(item)">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
</div>
