@import 'src/assets/sass/paper-kit/_variables.scss';

i.color-basket.nc-icon.nc-cart-simple {
    color: #66615B !important;
    font-size: 30px;
    margin-top: -10px;
}

.modal-content.position-modal-basket {
    border: 0 none;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    max-width: 600px;
    min-width: 600px;
    right: 0;
    top: 0;
    height: 100%;
}

.body-modal-scroll.modal-body {
    color: #000;
    max-height: 85%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px 0px;
}

.modal-body {
    color: #000;
}

.basket {
    position: relative;

    // Circle of basket to indicate total quantity of products
    .itemsBasket {
        position: absolute;
        border-radius: 100%;
        border: 1px solid white;
        padding-top: 2px;
        padding-left: 1px;
        padding-right: 1px;
        background-color: $danger-color;
        color: white;
        font-size: 1.2vh;
        font-weight: bold;
        height: 2.6vh;
        width: 2.6vh;
        left: 0;
        top: 20px;
    }
}