<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/home']">El Baratón</a>
            </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button type="button" (click)="open(Basket)" class="btn btn-primary btn-link btn-just-icon basket">
                        <i class="color-basket nc-icon nc-cart-simple" aria-hidden="true"></i>
                        <!-- Circle button of quantity products -->
                        <div class="itemsBasket" *ngIf="basket_exist() && basket.length > 0">
                            {{ basket_count() }}
                        </div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ng-template #Basket let-c="close" let-d="dismiss">
    <div class="modal-content position-modal-basket">
        <div class="modal-header">
            <h5 class="modal-title">Tu canasta</h5>
            <button type="button" class="close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body body-modal-scroll section section-light-gray">
            <app-basket [basket]="basket"></app-basket>
        </div>
        <div class="modal-footer">
            <button *ngIf="basket.length > 0" type="button" class="btn btn-danger btn-link" (click)="open(Notice)">Comprar</button>
            <button *ngIf="basket.length == 0" type="button" class="btn btn-danger btn-link" (click)="open(Notice)" disabled>Comprar</button>
        </div>
    </div>
</ng-template>

<ng-template #Notice let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Gracias por su compra</h5>
        <button type="button" class="close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="instruction">
            <p>
                Su compra fué realizada con éxito!
                <br>
                Muchas gracias por preferir Mercados El Baratón
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-link" (click)="reset_basket();c('Close click')">Volver</button>
    </div>
</ng-template>