.enlace {

}

.enlace:hover {
  cursor:pointer;
}

button.btn.btn-link.btn-round.position-btn-delete {
    padding: 0;
}

.background-white {
	background-color: #eeeeee4a;
	margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
}