<div *ngIf="basket.length > 0">
	<div class="background-white" *ngFor="let item of basket; let i = index">
		<div class="row">
            <div class="col-3">
                <img class="img-thumbnail" src="assets/img/image_placeholder.jpg">
            </div>
            <div class="col-6">
                <h6>{{item.name}}</h6>
                <p>
                    <span class="" aria-hidden="true"></span> 1 und = <small>{{item.price}}</small>
                    <br>
                    <button type="button" class="btn btn-link btn-round btn-danger position-btn-delete" (click)="removeItem(i)"><i class="fa fa-trash-o"></i> Eliminar</button>
                </p>
            </div>
            <div class="col-3">
                <app-add-product [item]="item"></app-add-product>
            </div>
            <!--<div class="col-3">
                <app-add-product [item]="item"></app-add-product>
                <p style="text-align: center;">{{ item.quantity * item.unit_default.price | currency:"USD":true:'1.0-0' }}</p>
            </div>-->
        </div>
	</div>
</div>

<div *ngIf="basket.length == 0">
    <div class="background-white">
        <div class="row">
            <div class="col-12">
                <p>Tu canasta está vacía. Agrega los productos que necesites.</p>
            </div>
        </div>
    </div>
</div>