<div class="wrapper">
    <div class="main">
        <!-- CONTAINER GRAY -->
        <div class="section section-light-gray">
            <div class="container-fluid tim-container">
                <div class="row">
                    <div class="col-3">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <ul>
                          <ng-template #recursiveList let-categories>
                            <li *ngFor="let sublevel of categories; let i = index">
                              <h6 *ngIf="sublevel.category" class="btn btn-link btn-default" style="pointer-events: none;">{{sublevel.name}}</h6>
                              <a *ngIf="!sublevel.category" (click)="save_category(sublevel)" [routerLink]="['/home/category',sublevel.id]" class="btn btn-link btn-danger">{{sublevel.name}}</a>
                              <ul *ngIf="sublevel.sublevels">
                                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: sublevel.sublevels }"></ng-container>
                              </ul>
                            </li>
                          </ng-template>
                          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: categories }"></ng-container>
                        </ul>
                    </div>
                    <div class="col-9">
                        <app-products></app-products>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-gray">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.rappibusiness.com/" target="_blank">Rappi Business</a></li>
                    <li><a href="https://bitbucket.org/oskcolorado/elbaraton" target="_blank">Bitbucket</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{data | date: 'yyyy'}}, hecho con <i class="fa fa-heart heart"></i> por Luis Colorado
                </span>
            </div>
        </div>
    </div>
</footer>